CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
src/Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
obj_dir
.vscode
build
*.o
*.json
*.fst
*.out
*.so
BeethovenSim
dramsim3.txt
*.vpi
*.vvp
*.vcd
bin/
test/alloc_sizes
test/merge_sort
.cache/clangd/
